@-webkit-keyframes fade{
    0%{opacity:0}
    100%{opacity:1}
}

@-webkit-keyframes move-fadeIn1{
    0%{opacity:0;-webkit-transform:translate(-200px,-200px)}
    100%{opacity:1:-webkit-transform:translate(0)}
}

@-webkit-keyframes move-fadeIn2{
    0%{opacity:0;-webkit-transform:translate(200px,-200px)}
    100%{opacity:1:-webkit-transform:translate(0)}
}

@-webkit-keyframes move-fadeIn3{
    0%{opacity:0;-webkit-transform:translate(150px,250px)}
    100%{opacity:1:-webkit-transform:translate(0)}
}

@-webkit-keyframes move-fadeIn4{
    0%{opacity:0;-webkit-transform:translate(-230px,100px)}
    100%{opacity:1:-webkit-transform:translate(0)}
}

@-webkit-keyframes move-fadeIn5{
    0%{opacity:0;-webkit-transform:translate(-300px,-100px)}
    100%{opacity:1:-webkit-transform:translate(0)}
}

@-webkit-keyframes start{
    0%{
		-webkit-box-shadow:0 0 10px #333;
		-webkit-transform:scale(1);
		border:2px solid #424242; 
		color:#E4E4E4;
	}
    50%{ 
		-webkit-box-shadow:0 0 10px #FF0000;
		border:2px solid #000; 
		-webkit-transform:scale(1.02);
		color:#d2ddec; 
	}
    100%{ 
		-webkit-box-shadow:0 0 10px #333;
		-webkit-transform:translate(0,0);
		border:2px solid #424242; 
		color:#E4E4E4;
		-webkit-transform:scale(1);
	}
}

.img-active{
    -webkit-animation:start infinite ease-in-out 1.5s;
	opacity:1;
	z-index:10;
}

@-webkit-keyframes start-active{
    0%{ -webkit-transform:scale(1) rotate(0); }
    15%{ -webkit-transform:scale(1.1)  rotate(0);}
    30%{ -webkit-transform:scale(1)  rotate(0);}
    100%{ -webkit-transform:scale(0) rotate(180deg); }
}
.k-start-active{
    -webkit-animation:start-active 1 ease-in-out 1.5s;
}

@-webkit-keyframes image-click-ani{
    0%{
        height:200px;
    }

    100%{
        height:500px;
    }
}

.image-click{
	height:500px;
}

@-webkit-keyframes enlarge-img-ani{
	0%{
		 -webkit-transform:rotate(0);
	}
	50%{
		-webkit-transform:rotate(180deg);
	}
	100%{
		-webkit-transform:matrix;
	}
}

.focus{
	z-index:1000;
}

.focus img{
}

.shadow{
	-webkit-box-reflect: below 1px -webkit-gradient(linear, 0 0, 0 100%, from(transparent), color-stop(.85, transparent), to(white));
}


@-webkit-keyframes left_tip{
    0%{ -webkit-transform:translateX(0px); }
    50%{-webkit-transform:translateX(-5px);}
    100%{-webkit-transform:translateX(0px);}
}

@-webkit-keyframes right_tip{
    0%{ -webkit-transform:translateX(0px); }
    50%{-webkit-transform:translateX(5px);}
    100%{-webkit-transform:translateX(0px);}
}

@-webkit-keyframes img_title_show{
    0%{ height:0;}
    50%{height:15px;}
    100%{height:30px;}
}

@-webkit-keyframes fade_out_1{
    0%{-webkit-transform:scale(1) rotate(0); }
    15%{ -webkit-transform:scale(1.1) rotate(0);}
    50%{ -webkit-transform:scale(1) rotate(90deg);}
	75%{-webkit-transform:scale(0.5) rotate(180deg);}
    100%{ -webkit-transform:scale(0) rotate(360deg);}
}
